.animation{
  min-height: 500px;
  .container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 3rem;
  }

  .blocks {
    display: flex;
  }

  .blocks div {
    margin-right: 5rem;
  }

  .square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;

  }
  .entering{
    animation: square 1000ms ease-out forwards;
  }
  .exiting{
    animation: square 500ms ease-out alternate-reverse;
  }
  .exited{
    transform: translateY(-100px);
  }
  .entered{
    opacity: 1;
    transform: translateY(0);
  }

  .square.blue {
    background: cornflowerblue;
  }

  .square.orange {
    background: coral;
  }

}

.os-enter{
  opacity: 0;

  transform: translateY(-100px);
}
.os-enter-active{
  transition: opacity 750ms,transform 750ms ;
  opacity: 1;
  transform: translateY(0px);

}
.os-enter-done{
  transition: none;
}
.os-exit{
  opacity: 1;
  transition: opacity 750ms,transform 750ms ;

}
.os-exit-active{

  opacity: 0;
  transform: translateY(-100px);
}

.os-exit-done{

}

@keyframes square {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  50% {
    opacity: 1;
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}
