.button{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  background: #fff;
  border: 1px solid #D9D9D9;
  box-shadow: 0 0 2px rgba(0,0,0, 0.0015);
  border-radius: 3px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
  min-width: max-content;
  &:disabled{
    opacity: 0.3;
    &:hover{
      opacity: 0.3;
      border: 1px solid #D9D9D9;
    }
  }
  &:hover{
    opacity: 1;
    transition: border .4s,opacity .4s;
    border: 1px solid navy;
  }
}

.primary{
  background: #1890FF;
  color: #ffffff;
  &:disabled{

  }
}

.inCart{
  background-color: #00d000;
    white-space: nowrap;
    max-width: 131px;

}

.after{
  margin-left: 8px;
}

@media (max-width: 480px) {
  .button span{
    display: none;
  }
  .after{
    margin-left: 0;
  }
}